{% extends "base.html" %} 
{% load tailwind_filters %}
{% load static %}

{% block content %}

  <div class='w-full mx-auto max-w-2xl bg-blue-50'>
    <h2 class='text-lg my-4 font-bold text-center'>Employee Information</h2>
    <form action="employee" method="POST">
      {% csrf_token %}
      <div class='flex flex-col'>
        {{form}}

      </div>

      <input
        type="submit"
        value="Add Employee"
        class="px-2 py-1 rounded text-white bg-blue-500 my-4"
      />
    </form>
  </div>

{% endblock content %}
