<!DOCTYPE html>
{% load static tailwind_tags %}
{% load static %}
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="{% static 'css/stylecss' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap" rel="stylesheet">
    <title>Document</title>
  </head>
  <body class="noto-kufi-arabic">
    <div class="">{% block content %}{% endblock %}</div>
  </body>

  <style>
    .noto-kufi-arabic {
        font-family: "Noto Kufi Arabic", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
  </style>
</html>
