<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    {% comment %} <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Sevillana&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap"
      rel="stylesheet"
    /> {% endcomment %}

    {% comment %} <link
      rel="stylesheet"
      href="{% static 'bootstrap/node_modules/bootstrap/dist/css/bootstrap.min.css' %}"
    /> {% endcomment %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Document</title>
  </head>
  <body
    {% comment %} class="sevillana-regular"
    style="margin: 0; padding: 0"
    style="font-family: Cairo, sans-serif" {% endcomment %}
  >
    <div class="container-">
      <nav class="d-flex justify-content-between px-5 py-2 border-bottom">
        <a href="{% url "main" %}" class='text-2xl'>Tawseel group</a>
        <p>البرنامج</p>
      </nav>
      <div class="container">{% block content %}vbcvbcvb{% endblock %}</div>
    </div>
  </body>
</html>
